export(countTweets)
export(filterStream)
export(getTweets)
export(parseTweets)
export(readTweets)
export(sampleStream)
export(topRetweets)
export(tweetsToMongo)
export(userStream)
import(RCurl)
import(ROAuth)
import(rjson)
